// colors
$green-bg: #00b6b6;
$blue-bg: #70bfff;
$yellow-bg: #ffe92f;
$purple-bg: #b07cf7;
$text-white: #fff;
$text-black: #262626;
$text-gray: #b9b9b9;
$orange: #ff6033;
$red: #f72b3b;
$blue: #5585a2;
$green: #96b92c;

// fonts
$raleway: 'Raleway';

// shadows
$btn-shadow: 0 2px 5px 2px rgba(0, 0, 0, .5);
$btn-hover-shadow: 0 3px 8px 4px rgba(0, 0, 0, .5);

// breakpoints

$tablet-bp: 990px;
$mobile-bp: 769px;