@import 'fonts/raleway';
@import 'fonts/services-icons';
@import 'vars';
@import 'mixins';
@import 'pages/index';

html,
body {
    margin: 0;
    padding: 0;
    font-family: $raleway;
}

* {
    box-sizing: border-box;
}

button:focus,
input:focus,
a:focus {
    outline: none;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2 {
    margin: 0;
    padding: 0;
    color: #262626;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input,
textarea {
    border: none;
    outline: none;
    font-family: inherit;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
}

.btn {
    font-family: inherit;
    display: inline-block;
    padding: 20px 25px;
    max-width: 200px;
    width: 100%;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    box-shadow: $btn-shadow;
    transition: box-shadow .2s linear;

    &:focus {
        box-shadow: $btn-hover-shadow;
    }

    &:hover {
        box-shadow: $btn-hover-shadow;
    }

    &_intro {
        background-color: $orange;
    }

    &_blog {
        background-color: $red;
        text-align: center;
    }

    &_gallery {
        background-color: $blue;
    }

    &_subscribe {
        background-color: $green;
    }

    @include breakpoint($mobile-bp) {
        padding: 15px 20px;
        font-size: 16px;
        max-width: 160px;
    }
}