.services {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 50px 0 50px;

    @include respond-to('tablet') {
        padding: 100px 0 100px;
    }

    @include respond-to('desktop') {
        padding: 125px 0 115px;
    }

    &__holder {
        padding: 30px 50px 0;
        border: 2px solid $text-white;
        border-top: none;
        text-align: center;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 75%;
            background-color: $text-white;
            height: 2px;

            @media screen and (min-width: 500px){
                right: 70%;
            }

            @include respond-to('tablet') {
                right: 65%;
            }
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            left: 75%;
            background-color: $text-white;
            height: 2px;

            @media screen and (min-width: 500px){
                left: 70%;
            }

            @include respond-to('tablet') {
                left: 65%;
            }
        }

        @include respond-to('tablet') {
            padding: 50px 130px 10px;
        }
    
        @include respond-to('desktop') {
            padding: 70px 160px 20px;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: .16em;
        color: $text-white;
        padding: 10px 30px;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 50%;
        background-color: transparent;
        transform: translate(-50%, -50%);

        @include respond-to('tablet') {
            font-size: 30px;
            padding: 15px 50px;
        }
    
        @include respond-to('desktop') {
            font-size: 34px;
            padding: 25px 100px;
        }
    }

    &__text {
        p {
            font-size: 12px;
            line-height: 18px;
            padding: 0 0 15px;
            color: $text-white;

            @include respond-to('tablet') {
                font-size: 14px;
                line-height: 22px;
                padding: 0 0 20px;
            }
        
            @include respond-to('desktop') {
                font-size: 16px;
                line-height: 24px;
                padding: 0 0 30px;
            }
        }
    }
}