.what-we-do {
    padding: 30px 0 30px;

    @include respond-to('tablet') {
        padding: 50px 0 50px;
    }

    @include respond-to('desktop') {
        padding: 120px 0 115px;
    }

    &__holder {
        padding: 50px 50px 0;
        border: 2px solid $text-dark;
        text-align: center;
        position: relative;

        @include respond-to('tablet') {
            padding: 50px 130px 10px;
        }
    
        @include respond-to('desktop') {
            padding: 70px 160px 20px;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: .16em;
        color: $text-dark;
        padding: 10px 30px;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 50%;
        background-color: #fff;
        transform: translate(-50%, -50%);

        @include respond-to('tablet') {
            font-size: 26px;
            padding: 15px 50px;
        }
    
        @include respond-to('desktop') {
            padding: 25px 100px;
        }
    }

    &__item {
        padding: 0 0 30px;

        @include respond-to('tablet') {
            padding: 0 0 40px;
        }
    }

    &__img {
        color: $text-dark;
        font-size: 42px;
        margin: 0 0 15px;

        @include respond-to('tablet') {
            font-size: 60px;
            margin: 0 0 25px;
        }
    
        @include respond-to('desktop') {
            font-size: 80px;
            margin-bottom: 40px;
        }
    }

    &__item-title {
        font-size: 13px;
        font-weight: 700;
        color: $text-dark;
        letter-spacing: .16em;
        text-transform: uppercase;
        margin: 0 0 15px;

        @include respond-to('tablet') {
            font-size: 16px;
            margin: 0 0 25px;
        }
    
        @include respond-to('desktop') {
            font-size: 20px;
            margin-bottom: 40px;
        }
    }

    &__text {
        p {
            font-size: 12px;
            line-height: 18px;
            color: $text-dark;

            @include respond-to('tablet') {
                font-size: 14px;
                line-height: 22px;
            }
        
            @include respond-to('desktop') {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}