.hero {
    padding: 50px 0;

    &__col {
        padding: 0 0 30px;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 70px 0 88px;

        &__row {
            display: flex;
            flex-wrap: wrap;
        }

        &__col {
            width: 50%;
            padding: 0 30px 60px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        padding: 100px 0;

        &__col {
            padding: 0 65px 88px;
        }
    }
}