.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
    &__holder {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        z-index: 2;

        @include breakpoint($mobile-bp) {
            padding-top: 15px;
        }
    }

    &__logo {
        
        @include breakpoint($mobile-bp) {
            max-width: 80px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;

        @include breakpoint($mobile-bp) {
            display: none;
        }
    }

    &__nav-list {
        display: flex;
    }

    &__nav-item {
        margin: 0 35px 0 0;

        &:last-child {
            margin: 0;
        }
    }

    &__nav-link {
        font-size: 16px;
        text-transform: uppercase;
        color: $text-black;
        font-weight: 700;
        padding-top: 9px;
        position: relative;
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 3px;
            background-color: $orange;
            opacity: 0;
            transition: opacity .2s linear;
        }

        &:hover:before {
            opacity: 1;
        }
    }
}